<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472358670777-smo8dr3h4iikl2tin3en8ovscbd4o7a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472358670777-smo8dr3h4iikl2tin3en8ovscbd4o7a6</string>
	<key>API_KEY</key>
	<string>AIzaSyDcrghS67ujvGr91zb1ve4ZtZlJuJ4B-n0</string>
	<key>GCM_SENDER_ID</key>
	<string>472358670777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodtruck.demo</string>
	<key>PROJECT_ID</key>
	<string>foodtruck-c1a69</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtruck-c1a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472358670777:ios:e50b8a60223f3834bea668</string>
	<key>DATABASE_URL</key>
	<string>https://foodtruck-c1a69.firebaseio.com</string>
</dict>
</plist>