<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605232211566-dlra938t1opi0m94ennrhrn667e0qpvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605232211566-dlra938t1opi0m94ennrhrn667e0qpvs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605232211566-lti3akgj8jhaaatqn30maiukl38em68t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjS-nL0MspjBzlOjO3aVHy_un_WSuAEI4</string>
	<key>GCM_SENDER_ID</key>
	<string>605232211566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tejasgajjar.miuiadshelper</string>
	<key>PROJECT_ID</key>
	<string>disablemiuiads</string>
	<key>STORAGE_BUCKET</key>
	<string>disablemiuiads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605232211566:ios:d9be1843a50dfaf0d0a87f</string>
	<key>DATABASE_URL</key>
	<string>https://disablemiuiads.firebaseio.com</string>
</dict>
</plist>